<<<<<<< HEAD
<header id="content-header">
  <h1>New Review for <%= @movie.title %></h1>
  <%= render 'form' %>
=======
<header id="content-header">
  <h1>New Review for <%= @movie.title %></h1>
  <%= render 'form' %>
>>>>>>> 96de389ec1526b170b51680e81306b21b04dcdd1
</header>